
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Tenor+Sans&display=swap');

body{
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
     /* background: linear-gradient(to right, #000000, #434343); */
     background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: "Montserrat", sans-serif;
    color: #f0f0f0;
    
}
